@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast--success {
  background-color: #3b82f6;
  color: white;
}
.Toastify__toast--error {
  background-color: #ef4444;
  color: white;
}
